
.InfoPanel__IconRow {
  position: relative;
  height: 80px;
}

.InfoPanel__IconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 115px;
  width: 70px;
  height: 70px;
}

.InfoPanel__Icon {
  width: 80%;
  height: 80%;
}

.InfoPanel__LatLng {
  display: flex;
  position: absolute;
  left: 110px;
  height: 100%;
  width: 190px;
  align-items: center;
}

.InfoPanel__LatLngSpacer {
  height: 5px;
}

.InfoPanel__Label {
  font-size: 12px;
  color: #888888;
}

.InfoPanel__secondRowDiv {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #888888;
  font-weight: bold;
  justify-content: center;
}

.InfoPanel__loadingDiv {
  height: 100px;
}

.InfoPanel__loading {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.InfoPanel__notFound {
  margin-top: 30px;
}

.InfoPanel__carousel {
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.InfoPanel__carouselItem {
  height: 80px;
  padding: 10px;
}

.InfoPanel__carouselItemDiv {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.InfoPanel__carouselContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.InfoPanel__carouselControls {
  flex-direction: row;
  display: flex;
}

.InfoPanel__carouselControlsSpacer {
  width: 20px;
}

.InfoPanel__carouselControl {
  font-weight: bold;
}

.InfoPanel__searchAgain {
  margin-top: 50px;
  font-size: 12px;
  color: #888888;
}
