
.Carousel__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.Carousel__bootstrapElement {
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Carousel__item {
  height: 80px;
  padding: 10px;
}

.Carousel__itemDiv {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Carousel__controls {
  flex-direction: row;
  display: flex;
}

.Carousel__control {
  font-weight: bold;
}

.Carousel__controlSpacer {
  width: 20px;
}
