.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.App__MapPanel {
  display: flex;
  flex: 1;
  height: 100%;
  margin-right: 10px;
  border: 2px solid #DFDFDF;
  border-radius: 10px;
  padding: 10px;
}

.App__rightColumn {
  height: 100%;
}

.App__InfoPanel {
  width: 300px;
  margin-top: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
